Node-RED-flows/Blockchain
[{"id":"5b72dd7f.ab5fa4","type":"comment","z":"5b33d6eb.97a4a8","name":"blockchain.com","info":"\n\nhttps://www.blockchain.com\n\n\nhttps://www.blockchain.com/ko/api/exchange_rates_api\n\nhttp request - https://blockchain.info/ticker\n\n\nhttps://blockchain.info/q\n\nhttp request - https://blockchain.info/q/latesthash?cors=true\n\nhttp request - https://blockchain.info/rawblock/{{payload}}\n\n\nhttps://btc.com/\n","x":240,"y":1140,"wires":[]},{"id":"83b5ba6b.d1e5d8","type":"inject","z":"5b33d6eb.97a4a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1260,"wires":[["74398d5a.88d284"]]},{"id":"74398d5a.88d284","type":"http request","z":"5b33d6eb.97a4a8","name":"","method":"GET","ret":"obj","url":"https://blockchain.info/ticker","tls":"","x":450,"y":1260,"wires":[["84714ce8.758ec"]]},{"id":"84714ce8.758ec","type":"debug","z":"5b33d6eb.97a4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":1260,"wires":[]},{"id":"8b3ab8f7.58c7d8","type":"inject","z":"5b33d6eb.97a4a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1380,"wires":[["2ff14042.45766"]]},{"id":"2ff14042.45766","type":"http request","z":"5b33d6eb.97a4a8","name":"","method":"GET","ret":"txt","url":"https://blockchain.info/q/latesthash?cors=true","tls":"","x":450,"y":1380,"wires":[["b6740625.c8e5e8"]]},{"id":"b6740625.c8e5e8","type":"debug","z":"5b33d6eb.97a4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":1380,"wires":[]},{"id":"49d937a1.6ea118","type":"inject","z":"5b33d6eb.97a4a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1440,"wires":[["6c52a928.937c18"]]},{"id":"6c52a928.937c18","type":"http request","z":"5b33d6eb.97a4a8","name":"","method":"GET","ret":"txt","url":"https://blockchain.info/q/latesthash?cors=true","tls":"","x":450,"y":1440,"wires":[["8f395555.d678b8","e3236000.aeb86"]]},{"id":"8f395555.d678b8","type":"debug","z":"5b33d6eb.97a4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":1440,"wires":[]},{"id":"e3236000.aeb86","type":"http request","z":"5b33d6eb.97a4a8","name":"","method":"GET","ret":"obj","url":"https://blockchain.info/rawblock/{{payload}}","tls":"","x":450,"y":1500,"wires":[["afd44387.ecad8","5cc4a0f9.3f913"]]},{"id":"afd44387.ecad8","type":"debug","z":"5b33d6eb.97a4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1500,"wires":[]},{"id":"f1b6d57a.91ea78","type":"split","z":"5b33d6eb.97a4a8","name":"","splt":"\\n","spltType":"str","arraySplt":"1000","arraySpltType":"len","stream":false,"addname":"","x":510,"y":1580,"wires":[["d13c4f1e.ecb18"]]},{"id":"d13c4f1e.ecb18","type":"debug","z":"5b33d6eb.97a4a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":1580,"wires":[]},{"id":"5cc4a0f9.3f913","type":"function","z":"5b33d6eb.97a4a8","name":"tx_array","func":"\nmsg.payload = msg.payload.tx;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1580,"wires":[["f1b6d57a.91ea78"]]},{"id":"adcc6240.bbca3","type":"comment","z":"5b33d6eb.97a4a8","name":"ticker","info":"","x":230,"y":1220,"wires":[]},{"id":"f5db1209.b1752","type":"comment","z":"5b33d6eb.97a4a8","name":"latest block","info":"","x":240,"y":1340,"wires":[]}]