Node-RED-flows/Covid-stats
[{"id":"a4723c6a.23ecc8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"d59eb24a.5a34b","type":"http request","z":"a4723c6a.23ecc8","name":"Covid-19 API Portugal","method":"GET","ret":"obj","paytoqs":false,"url":"https://coronavirus-19-api.herokuapp.com/countries/Portugal","tls":"","proxy":"","authType":"basic","x":220,"y":240,"wires":[["f86c84ce.e423f8"]]},{"id":"4a9c3152.b76e1","type":"inject","z":"a4723c6a.23ecc8","name":"","repeat":"","crontab":"0 9-22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["d59eb24a.5a34b"]]},{"id":"f86c84ce.e423f8","type":"function","z":"a4723c6a.23ecc8","name":"Função para deixar tudo direitinho","func":"var mensagem = \"Total de Casos em Portugal: \"  + msg.payload.cases +  \n\"\\n Casos de hoje: \" + msg.payload.todayCases + \n\"\\n Mortes Confirmadas: \"  + msg.payload.deaths + \n\"\\n Mortes Confirmadas de HOJE: \"  + msg.payload.todayDeaths +\n\"\\n Casos recuperados: \"  + msg.payload.recovered +\n\"\\n Casos activos: \"  + msg.payload.active +\n\"\\n Casos Criticos: \"  + msg.payload.critical +\n\"\\n Casos em 1 Milhao: \"  + msg.payload.casesPerOneMillion ;\n\nmsg.payload = mensagem;\nmsg.topic = mensagem;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["5f6265c6.6e868c"]]},{"id":"5f6265c6.6e868c","type":"rbe","z":"a4723c6a.23ecc8","name":"Continue apenas se o valor mudar","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":260,"y":320,"wires":[["d7e97af1.723d58"]]},{"id":"d7e97af1.723d58","type":"debug","z":"a4723c6a.23ecc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":190,"y":360,"wires":[]}]