Node-RED-flows/Scene-Classifier

[{"id":"743bf3eb.103244","type":"tab","label":"Scene Classifier","disabled":false,"info":"This flow uses the [Scene Classifier](https://developer.ibm.com/exchanges/models/all/max-scene-classifier/) deep learning model from the IBM Model Asset Exchange to classify images according to the place/location labels in the [Places365 data set](http://places2.csail.mit.edu/).\n\nInstall the following two modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://flows.nodered.org/node/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-image-tools](https://flows.nodered.org/node/node-red-contrib-image-tools)\n"},{"id":"7455571b.24a72","type":"debug","z":"743bf3eb.103244","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":100,"wires":[]},{"id":"9e906e93.df9aa8","type":"comment","z":"743bf3eb.103244","name":"Classify images according to the Places365 data set.","info":"","x":240,"y":40,"wires":[]},{"id":"4270282e.ddcca","type":"scene-classifier","z":"743bf3eb.103244","service":"f784cfa4.a5b598","method":"predict","predict_image":"","predict_imageType":"str","name":"","x":740,"y":100,"wires":[["7455571b.24a72"]]},{"id":"bc8ee4c.61bf398","type":"http request","z":"743bf3eb.103244","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/HfG_Gm%C3%BCnd_Elseasser_von_S%C3%BCdosten.JPG/1024px-HfG_Gm%C3%BCnd_Elseasser_von_S%C3%BCdosten.JPG","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":100,"wires":[["b0e45eac.0806b8"]]},{"id":"b0e45eac.0806b8","type":"image viewer","z":"743bf3eb.103244","name":"","width":"400","data":"payload","dataType":"msg","x":570,"y":100,"wires":[["4270282e.ddcca"]]},{"id":"c119b6e2.9edd5","type":"inject","z":"743bf3eb.103244","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["bc8ee4c.61bf398"]]},{"id":"631be7fb.495708","type":"http request","z":"743bf3eb.103244","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Rems_in_Schw%C3%A4bisch_Gm%C3%BCnd.jpg/1024px-Rems_in_Schw%C3%A4bisch_Gm%C3%BCnd.jpg","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":180,"wires":[["b0e45eac.0806b8"]]},{"id":"a7a95ddd.aa6d6","type":"inject","z":"743bf3eb.103244","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["631be7fb.495708"]]},{"id":"e4dc2991.7be468","type":"http request","z":"743bf3eb.103244","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://www.schwaebisch-gmuend.de/assets/images/0/kreuzweg-ef097126.jpg","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":260,"wires":[["b0e45eac.0806b8"]]},{"id":"f01be298.e55558","type":"inject","z":"743bf3eb.103244","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["e4dc2991.7be468"]]},{"id":"1b459d40.d12b8b","type":"http request","z":"743bf3eb.103244","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://www.schwarzwaelder-bote.de/media.media.7349b06a-551d-474f-af3d-680d6616d12f.original1024.jpg","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":340,"wires":[["b0e45eac.0806b8"]]},{"id":"1688c2e3.ec33cd","type":"inject","z":"743bf3eb.103244","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["1b459d40.d12b8b"]]},{"id":"f784cfa4.a5b598","type":"scene-classifier-service","z":"","host":"https://max-scene-classifier.codait-prod-41208c73af8fca213512856c7a09db52-0000.us-east.containers.appdomain.cloud","name":"cloud"}]
