Node-RED-flows/Twitter-Sentiment
[{"id":"feaa179b.fb1f","type":"counter","z":"96622ea1.a1b5e","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":520,"y":240,"wires":[["21f7998b.4c3696"]]},{"id":"5d746d52.0f166c","type":"switch","z":"96622ea1.a1b5e","name":"","property":"payload.truncated","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":320,"wires":[["7809e61e.4083e"],["ca621bbf.fda59"]]},{"id":"f9dfefe8.3f7cf","type":"debug","z":"96622ea1.a1b5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":180,"wires":[]},{"id":"7809e61e.4083e","type":"change","z":"96622ea1.a1b5e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.extended_tweet.full_text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":300,"wires":[["3ebfdf6b.37b75","29b0238c.129054"]]},{"id":"ca621bbf.fda59","type":"change","z":"96622ea1.a1b5e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":340,"wires":[["9037d0f6.30ecc8","29b0238c.129054"]]},{"id":"3ebfdf6b.37b75","type":"debug","z":"96622ea1.a1b5e","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":300,"wires":[]},{"id":"9037d0f6.30ecc8","type":"debug","z":"96622ea1.a1b5e","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":340,"wires":[]},{"id":"9555717e.36ab78","type":"smooth","z":"96622ea1.a1b5e","name":"","property":"sentiment.score","action":"mean","count":"100","round":"1","mult":"single","reduce":false,"x":920,"y":580,"wires":[["392366d5.d53d4a"]]},{"id":"8225ad0f.36ec08","type":"ui_text","z":"96622ea1.a1b5e","group":"43dde8f4.8edae8","order":7,"width":0,"height":0,"name":"","label":"Total Received","format":"{{msg.payload}}","layout":"row-left","x":940,"y":240,"wires":[]},{"id":"29b0238c.129054","type":"sentiment","z":"96622ea1.a1b5e","name":"","property":"payload","x":920,"y":400,"wires":[["dd5cd983.f4e26","9555717e.36ab78","a6ed8bdd.f761e8","70aec906.f04e9"]]},{"id":"dd5cd983.f4e26","type":"debug","z":"96622ea1.a1b5e","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"sentiment.score","targetType":"msg","x":1120,"y":400,"wires":[]},{"id":"4295a595.a930d4","type":"debug","z":"96622ea1.a1b5e","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":180,"wires":[]},{"id":"21f7998b.4c3696","type":"change","z":"96622ea1.a1b5e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":240,"wires":[["8225ad0f.36ec08","4295a595.a930d4"]]},{"id":"a6ed8bdd.f761e8","type":"smooth","z":"96622ea1.a1b5e","name":"","property":"sentiment.score","action":"mean","count":"1000","round":"1","mult":"single","reduce":false,"x":920,"y":700,"wires":[["bceaa1a3.9a0c48"]]},{"id":"744a80cf.8b6ad","type":"debug","z":"96622ea1.a1b5e","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1270,"y":640,"wires":[]},{"id":"79cd1137.0a4528","type":"debug","z":"96622ea1.a1b5e","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1270,"y":760,"wires":[]},{"id":"2258bc43.824e6c","type":"delay","z":"96622ea1.a1b5e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1280,"y":580,"wires":[["c9fbf9ed.07655","5998a63a.15fa78"]]},{"id":"392366d5.d53d4a","type":"change","z":"96622ea1.a1b5e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"100Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":580,"wires":[["744a80cf.8b6ad","2258bc43.824e6c"]]},{"id":"bceaa1a3.9a0c48","type":"change","z":"96622ea1.a1b5e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"1000Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":700,"wires":[["79cd1137.0a4528","b5763069.118a98"]]},{"id":"b5763069.118a98","type":"delay","z":"96622ea1.a1b5e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1280,"y":700,"wires":[["4f53c534.64423c","5998a63a.15fa78"]]},{"id":"c9fbf9ed.07655","type":"debug","z":"96622ea1.a1b5e","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1470,"y":580,"wires":[]},{"id":"4f53c534.64423c","type":"debug","z":"96622ea1.a1b5e","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1470,"y":700,"wires":[]},{"id":"5998a63a.15fa78","type":"ui_chart","z":"96622ea1.a1b5e","name":"","group":"43dde8f4.8edae8","order":6,"width":"30","height":"15","label":"Sentiment","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"Waiting for Data","dot":true,"ymin":"-5","ymax":"5","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#d62728","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1690,"y":580,"wires":[[]]},{"id":"70aec906.f04e9","type":"smooth","z":"96622ea1.a1b5e","name":"","property":"sentiment.score","action":"mean","count":"20","round":"1","mult":"single","reduce":false,"x":920,"y":460,"wires":[["d5d7ddb7.b8d918"]]},{"id":"102421c1.b28176","type":"debug","z":"96622ea1.a1b5e","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1270,"y":520,"wires":[]},{"id":"73fbd8d0.a51c18","type":"delay","z":"96622ea1.a1b5e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1280,"y":460,"wires":[["484c3f42.f39a58","5998a63a.15fa78"]]},{"id":"d5d7ddb7.b8d918","type":"change","z":"96622ea1.a1b5e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"20Average","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":460,"wires":[["102421c1.b28176","73fbd8d0.a51c18"]]},{"id":"484c3f42.f39a58","type":"debug","z":"96622ea1.a1b5e","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1470,"y":460,"wires":[]},{"id":"6a113243.b52374","type":"Twitter Stream","z":"96622ea1.a1b5e","connection":"","follow":"","topics":"covid19, coronavirus, covid19, covid_19","tweetLimit":"0","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en","debug":false,"name":"","x":310,"y":280,"wires":[["feaa179b.fb1f","5d746d52.0f166c","f9dfefe8.3f7cf"]]},{"id":"43dde8f4.8edae8","type":"ui_group","z":"","name":"Covid-19","tab":"f97f2802.2ad4b8","order":1,"disp":false,"width":"30","collapse":false},{"id":"f97f2802.2ad4b8","type":"ui_tab","z":"","name":"Covid-19 Sentiment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]